.projectSection {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  min-height: 100vh;
}

.projectsHeader {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.projectsHeader h1 {
  color: var(--heading1);
  font-size: 1.7rem;
  font-weight: 600;
  margin-right: 0.7rem;
}

.projectsHeader span {
  font-size: 1.4rem;
  font-weight: 200;

  color: var(--blue);
  font-family: monospace;
}

.projectsGrid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  @media screen and (max-width: 768px) {
    grid-template-columns: auto;
  }
}

.projectCard {
  background-color: #081a36;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
}

.projectCard:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.projectCard h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--heading1);
}

.projectCard p {
  font-size: 0.9rem;
  color: var(--heading2);
}

.projectLink {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
  color: var(--blue);
}
