.heroContainer {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  min-height: 90vh;
}

.introTitle,
.projectButton {
  font-family: monospace;
  color: var(--blue);
}

.introTitle {
  font-size: clamp(var(--fz-md), 5vw, var(--fz-lg));
  line-height: 0.9;
  margin: 0px 0px 20px 2px;
  font-weight: 400;
}

.titleName {
  line-height: 1.3;
}

.titleName,
.careerTitle {
  font-size: clamp(50px, 8vw, 60px);
  font-weight: 700;
  line-height: 0.9;
  color: var(--heading1);
}

.careerTitle {
  color: var(--heading2);
  margin-top: 5px;
  line-height: 1.2;
}

.description {
  font-size: clamp(var(--fz-md), 5vw, var(--fz-lg));
  letter-spacing: 0.5px;
  margin: 20px 0px 0px;
  color: var(--heading2);
  font-family: "Roboto", serif;
}

.projectButton {
  display: inline-block;
  margin-top: 3rem;
  border: 1px solid var(--blue);
  border-radius: 0.25rem;
  padding: 1.25rem 1.75rem;
  transition: all 0.3s ease;
  text-decoration: none;
  cursor: pointer;
  font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
}

.projectButton:hover {
  background-color: rgba(59, 130, 246, 0.1);
  transform: translate(-0.25rem, -0.25rem);
  box-shadow: 0.25rem 0.25rem 0 var(--blue);
}

/* Responsive styles */
@media (max-width: 768px) {
  .introTitle,
  .description {
    font-size: 1rem;
  }

  .titleName,
  .careerTitle {
    font-size: 2.1rem;
    line-height: 1.1;
  }
}
