.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  min-height: 100vh;
}

.about label {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.about label h1 {
  color: var(--heading1);
  font-size: 1.7rem;
  font-weight: 600;
  margin-right: 0.7rem;
}

.about label span {
  font-size: 1.4rem;
  font-weight: 200;
  color: var(--blue);
  font-family: monospace;
}

.about article {
  font-size: clamp(var(--fz-md), 5vw, var(--fz-lg));
  letter-spacing: 0.5px;
  color: var(--heading2);
  padding: 3rem 0;
}
