@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  --background: radial-gradient(circle, #05152e, #03080f 100%);
}

html {
  @apply h-full overflow-hidden bg-gradient-to-br from-[#05152e] to-[#03080f];
  scroll-behavior: smooth;
}

body {
  @apply h-full overflow-y-auto overflow-x-hidden;
  background: var(--background);
}

section {
  max-width: 1000px;
}
@layer base {
  :root {
    --blue: #3b82f6;
    --heading1: #c4cdec;
    --heading2: #8892b0;
    --radius: 0.5rem;
    --font-family: "Roboto", serif;
    --transition: all 300ms ease-in-out;

    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;
  }
}
