@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", serif;
  background: radial-gradient(circle, #05152e, #03080f 60%);
  background-color: #03080f;
  scroll-behavior: smooth;
}

section {
  max-width: 1000px;
}

.mainPage {
  display: grid;
  place-content: center;
  grid-template-rows: auto 1fr;
  padding: 3rem;
}

@layer base {
  :root {
    --blue: #3b82f6;
    --heading1: #c4cdec;
    --heading2: #8892b0;
    --background: #03080f;

    --radius: 0.5rem;
    --font-family: "Roboto", serif;
    --transition: all 300ms ease-in-out;

    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;
  }
}
