@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: radial-gradient(circle, #05152e, #03080f 100%);
  --foreground: #171717;
  --font: "Roboto", serif;
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  font-family: "Roboto", serif;
  background: var(--background);
  line-height: 1.3;
  height: 100vh;
  letter-spacing: 0.5px;
  margin: 0;
}

@layer base {
  :root {
    --blue: #3b82f6;
    --heading1: #c4cdec;
    --heading2: #8892b0;
    --radius: 0.5rem;
    --font-family: "Roboto", serif;

    --transition: all 300ms ease-in-out;

    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;
  }
}

html {
  scroll-behavior: smooth;
}
